#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Base";
      bindings = <
        &none       &kp N1  &kp N2  &kp N3  &kp N4    &kp N5  &none                                                           &mo 1        &kp N6    &kp N7     &kp N8   &kp N9    &kp N0    &kp MINUS
        &kp DELETE  &kp Q   &kp W   &kp E   &kp R     &kp T   &none                                                           &none        &kp Y     &kp U      &kp I    &kp O     &kp P     &kp LBKT
        &kp BSPC    &kp A   &kp S   &kp D   &kp F     &kp G   &none           &kp LCTRL &kp LALT &kp LGUI &kp RCTRL           &none        &kp H     &kp J      &kp K    &kp L     &kp SEMI  &kp SQT
        &kp LSHFT   &kp Z   &kp X   &kp C   &kp V     &kp B                             &kp HOME &kp END                      &kp N        &kp M     &kp COMMA  &kp DOT  &kp FSLH  &sl 2
        &mo 3       &mo 4   &none   &none   &sl 2                    &kp SPACE &kp TAB &kp PG_DN &kp PG_UP &kp ESC &kp ENTER  &slash_bslh  &vim_cmd  &none      &mo 4    &mo 3
      >;
    };
    mod {
      display-name = "Mod";
      bindings = <
        &none           &kvm1  &kvm2  &kvm3  &kvm4          &none          &none                                                       &mo 1         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none
        &none           &none  &none  &none  &none          &kvm_key_mode  &bootloader                                                 &bootloader   &none  &none  &none  &none  &none  &none
        &studio_unlock  &none  &none  &none  &kvm_fan_mode  &none          &none         &bt BT_CLR &none &none &bt BT_CLR_ALL         &stp STP_BAT  &none  &none  &none  &none  &none  &none
        &none           &none  &none  &none  &macro_ver     &none                                   &none &none                        &none         &none  &none  &none  &none  &none
        &none           &none  &none  &none  &none                                      &none &none &none &none &none &rgb_ug RGB_TOG  &none         &none  &none  &none  &none
      >;
    };
    special {
      display-name = "Special";
      bindings = <
        &kp F1      &kp F2        &kp F3        &kp F4      &kp F5      &kp F6         &none                                                                       &mo 1         &kp F7     &kp F8         &kp F9        &kp F10     &kp F11       &kp F12
        &kp DELETE  &kp RA(Q)     &kp LS(N1)    &kp LS(N8)  &kp LS(N9)  &kp LS(N7)     &kp RA(MINUS)                                                               &macro_caret  &kp RA(E)  &kp LS(MINUS)  &kp LS(N0)    &kp LS(N4)  &kp LS(N6)    &kp BSLH
        &kp BSPC    &kp LS(N5)    &kp NUHS      &kp RA(N7)  &kp RA(N0)  &kp RA(GRAVE)  &none                   &kp LCTRL  &kp LALT  &kp LGUI  &kp RCTRL            &none         &kp LEFT   &kp DOWN       &kp UP        &kp RIGHT   &kp LS(RBKT)  &trans
        &kp LSHFT   &macro_btick  &macro_acute  &kp RA(N8)  &kp RA(N9)  &kp GRAVE                                         &kp HOME  &kp END                        &macro_tilde  &kp FSLH   &kp LS(N2)     &kp LS(NUHS)  &kp RBKT    &none
        &mo 3       &none         &none         &none       &none                                    &kp SPACE  &kp TAB  &kp PG_DN  &kp PG_UP  &kp ESC  &kp ENTER  &none         &none      &none          &none         &none
      >;
    };
    navigation {
      display-name = "Navigation";
      bindings = <
        &kp F1  &kp F2     &kp F3     &kp F4     &kp F5         &kp F6             &none                                             &mo 1         &kp F7           &kp F8        &kp F9         &kp F10            &kp F11            &kp F12
        &none   &none      &none      &none      &kp LG(R)      &none              &none                                             &kp LG(Q)     &kp LG(W)        &kp LG(Y)     &kp LG(LS(Y))  &none              &kp LG(LC(LA(P)))  &kp LG(P)
        &none   &kp LG(A)  &kp LG(S)  &none      &kp LG(SPACE)  &kp LG(F)          &none           &none &none &none &none           &none         &kp LG(LC(LEFT)) &kp TAB       &kp LGUI       &kp LG(LC(RIGHT))  &none              &none
        &none   &none      &kp LG(X)  &kp LG(C)  &kp LG(V)      &kp LG(LA(LS(V)))                        &none &none                 &kp LG(T)     &kp LEFT         &kp DOWN      &kp UP         &kp RIGHT          &none
        &mo 3   &none      &none      &none      &mo 4                                    &trans &trans &trans &trans &trans &trans  &kp LG(LS(T)) &kp LG(RBKT)     &kp LG(FSLH)  &none          &mo 3
      >;
    };
    tmuxvim {
      display-name = "Tmux & Vim";
      bindings = <
        &none  &none  &none          &none          &none          &none  &none                                       &mo 1  &none           &none                &none            &none            &none  &none
        &none  &none  &kp LC(LS(W))  &none          &none          &none  &none                                       &none  &none           &none                &tmux_copy_mode  &none            &none  &none
        &none  &none  &none          &none          &none          &none  &none        &none &none &none &none        &none  &tmux_win_left  &vim_cmd             &tmux_leader     &tmux_win_right  &none  &none
        &none  &none  &none          &kp LC(A)      &kp LC(E)      &none                     &none &none              &none  &none           &tmux_sessions_list  &none            &none            &none
        &mo 3  &none  &none          &macro_opt9_d  &macro_opt8_d                &none &none &none &none &none &none  &none  &none           &none                &none            &mo 3
      >;
    };
    prog {
      display-name = "Programming";
      bindings = <
        &none      &none         &none          &none         &none        &none         &none                                                              &mo 1     &none          &none          &none       &none         &none         &none
        &none      &kp RA(Q)     &kp LS(N1)     &kp LS(RBKT)  &kp LS(N5)   &macro_caret  &none                                                              &none     &kp RA(E)      &kp RA(MINUS)  &kp LS(N7)  &macro_acute  &macro_btick  &none
        &kp BSPC   &kp NUHS      &kp LS(MINUS)  &kp LS(N0)    &kp LS(DOT)  &kp LS(N4)    &none          &kp LCTRL  &kp LALT  &kp LGUI  &kp RCTRL            &none     &kp RA(GRAVE)  &kp LS(N8)     &kp LS(N9)  &kp RA(N7)    &kp RA(N0)    &none
        &kp LSHFT  &macro_tilde  &kp GRAVE      &kp RBKT      &kp LS(N6)   &none                                   &kp HOME  &kp END                        &kp FSLH  &kp RA(N8)     &kp RA(N9)     &kp LS(N2)  &kp LS(NUHS)  &none
        &mo 3      &none         &none          &none         &none                           &kp SPACE  &kp TAB  &kp PG_DN  &kp PG_UP  &kp ESC  &kp ENTER  &none     &none          &none          &none       &none
      >;
    };
    extra1 { 
      display-name = "Red";
      status = "reserved";
    };
    extra2 { 
      display-name = "Purple";
      status = "reserved";
    };
    extra3 { 
      display-name = "Cyan";
      status = "reserved";
    };
    extra4 { 
      display-name = "Yellow";
      status = "reserved";
    };
  };
};
